.git
.github
.docusaurus
.pytest_cache
.ruff_cache
.venv
node_modules
notes
refs
skills

**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/.venv
**/.store
**/.env
**/.env.local
**/*.pyc

apps/docs
apps/web
eval
